.containerHeader{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 15px;
    box-shadow: var(--blueShadow) 0px 10px 36px 0px, var(--blueShadow) 0px 0px 0px 1px;
    height: 90px;
}

.containerHeader li{
    list-style-type: none;
}

.containerHeader li *{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.719);
}

.containerHeader li *:hover{
    color: rgb(0, 0, 0);
}

.campOptionsHeader{
    display: flex;
    width: 60%;
}

.campNav{
    display: flex;
    width: 100%;
}

.listNav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: auto;
}

.campSubMenu{
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: var(--colorBody);
    padding: 15px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.optionListNav:hover > .campSubMenu{
    display: flex;
}

.campImgHeader{
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
}