* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --blueShadow: rgba(58, 58, 199, 0.555);
  --colorBody: #d7dae7;
  --colorCard: rgb(180, 197, 216);
  --primaryColor: rgba(101, 127, 247, 0.562);
  --secondaryColor: rgba(56, 101, 252, 0.808);
}

html,
body {
  height: 100%;
  flex-direction: column;
  display: flex;
  background-color: var(--colorBody);
}

main {
  flex: 1;
  display: flex;
  width: 100%;
}

footer,
header {
  display: flex;
  width: 100%;
}

.containerPreTabela {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.containerTabela {
  display: flex;
  margin: 40px auto;
  padding: 25px;
  border-radius: 25px;
  background-color: var(--colorBody);
  box-shadow: var(--blueShadow) 0px 10px 36px 0px, var(--blueShadow) 0px 0px 0px 1px;
  flex-direction: column;
  text-align: center;
  max-width: 90%;
  overflow-x: auto;
}

.tabela {
  width: 100%;
  margin-top: 20px;
  border-spacing: 0;
  border-radius: 15px;
  border: 1px solid black;
  overflow: hidden;
}

.cabecalhoTabela {
  background-color: var(--primaryColor);
  font-weight: bold;
}

.cabecalhoLinhaTabela th {
  padding: 12px;
  text-align: left;
  border-bottom: 2px solid var(--secondaryColor);
}


.corpoTabela {
  background-color: var(--colorBody);
}

.corpoLinhaTabela th {
  padding: 12px;
  text-align: left;
}

.corpoLinhaTabela:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}

.corpoLinhaTabela:hover {
  background-color: rgba(0, 0, 255, 0.1);
  transition: background-color 0.3s ease-in-out;
}

.thBtn {
  display: flex;
}

.btnExcluir,
.btnEdit {
  padding: 5px;
  margin: 10px 10px;
  align-items: center;
  text-align: center;
  display: flex;
  color: rgba(255, 255, 255, 0.559);
  border-radius: 5px;
  transition: all 0.3s;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.btnEdit {
  background-color: rgba(0, 128, 0, 0.5);
}

.btnEdit:hover {
  background-color: green;
  color: white;
}

.btnExcluir {
  background-color: rgba(255, 0, 0, 0.5);
}

.btnExcluir:hover {
  background-color: red;
  color: white;
}

@media (max-width: 768px) {
  .containerTabela {
    padding: 15px;
  }

  .tabela th {
    font-size: 14px;
    padding: 8px;
  }

  .cabecalhoLinhaTabela th,
  .corpoLinhaTabela th {
    padding: 10px;
  }
}

.containerCadastro, .containerEdit {
  display: flex;
  width: 100%;
  height: 100%;
}

.containerFormCadastro, .containerFormEdit {
  background-color: var(--colorCard);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px auto;
  width: 360px;
  padding: 25px;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.formularioCadastro, .formularioEdit {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.containerInputCadastro, .containerInputEdit {
  display: flex;
  flex-direction: column;
}

.containerInputCadastro input, .containerInputEdit input {
  height: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: 10px;
  color: black;
}

.btnCadastro, .btnEditar {
  height: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  font-weight: bolder;
  background-color: rgba(0, 128, 0, 0.5);
  transition: all 0.2s;
  margin-top: 20px;
  text-align: center;
}

.btnCadastro:hover, .btnEditar:hover {
  background-color: green;
  color: white;
}