* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --blueShadow: rgba(39, 39, 172, 0.678);
  --colorBody: #d7dae7;
  --colorCard: rgb(240, 232, 232);
}

html,
body {
  height: 100%;
  flex-direction: column;
  display: flex;
  background-color: var(--colorBody);
}

main {
  flex: 1;
  display: flex;
  width: 100%;
}

footer, header{
  display: flex;
  width: 100%;
}